/* General styles */
@font-face {
    font-family: "Beyno";
    src: url(./Fonts/BEYNO.ttf);
}

@font-face {
    font-family: "Cantarell";
    src: url(./Fonts/Cantarell-Regular.ttf);
}

@font-face {
    font-family: "Panthera";
    src: url(./Fonts/panthera.otf);
}

@font-face {
    font-family: "Wakanda";
    src: url(./Fonts/WakandaForever-Regular.ttf);
}

:root {
    --white: #FFFFFF;
    --pink: #F2CEF2;
    --hotpink: #DF99F2;
    --beige: #9E91B7;
    --purple: #3D2DA6;
    --blue: #07338C;
    --darkblue: #021740;
}

html {
    background-image: url(./Illustrations+Logo/All_pages/arri+¿re_plan.png);
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typographie et couleurs de police*/
* {
    color: var(--white);
}

h1 {
    font-size: 68px;
    margin: 60px auto;
    color: var(--hotpink);
}

h1.typo1 {
    font-family: "Panthera";
}

h1.typo2 {
    font-family: "Beyno";
}

h2 {
    font-family: "Beyno";
    font-size: 32px;
    margin: 30px auto;
    color: var(--hotpink);
}

h2.typo3 {
    font-family: "Wakanda";
    font-size: 43px;
}

h3, h4 {
    font-family: "Cantarell";
    font-size: 32px;
    color: var(--darkblue);
}

nav ul li a {
    font-family: "Beyno";
}

.enigme {
    font-family: "Wakanda";
    font-size: 43px;
    quotes: '"' '"';
}

p {
    font-family: "Cantarell";
    font-size: 16px;
    text-align: justify;
}

p.quote {
    font-size: 14px;
}

.more {
    font-family: "Cantarell";
    font-size: 16px;
}

/* Mise en page du HEADER */
nav {
    padding: 20px 0;
    align-items: center;
}

nav li {
    display: inline;
    float: right;
    background: none;
}

nav li a {
    margin: 50px;
    text-align: center;
    text-decoration: none;
}

nav .active {
    text-decoration: underline;
    color: var(--hotpink);
}

nav a:hover {
    font-weight: bold;
}

ul {
    list-style: none;
}

/* Mise en page de la page d'ACCUEIL */
/* SECTION 1 */
#black-panther {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.panther-text {
    display: block;
    margin-left: 200px;
}

.more {
    margin: 20px 0;
}

.panther-image {
    text-align: center;
}

.panther-image img {
    max-width: 560px;
    height: auto;
}

/*SECTION 2 */
#scrolling-x {
    display: flex;
}

.scroll-1,
.scroll-2,
.scroll-3,
.scroll-4,
.scroll-5 {
    display: inline-block;
    text-align: center;
    padding: 20px;
    inline-size: 20%;
    background-color: var(--darkblue);
}

.scroll-1 img, .scroll-3 img {
    width: 100%;
}

.scroll-5 img {
    width: 75%;
}

.scroll-2, .scroll-4 {
    line-height: 1;
    padding: 20px auto;
}

#scrolling-x button {
    background-color: var(--darkblue);
    font-size: 35px;
    border-radius: 70px;
}

button.next {
    position: absolute;
    right: 80px;
    top: 630px;
}

/* SECTION 3 */
#main-text {
    display: inline-block;
}

.born,
.hero,
.protector {
    padding: 10px 20px;
    margin: 20px 30px;
    margin-right: 600px;
}

/* SECTION 4 */
#about {
    padding: 0;
    margin: -1500px 30px 20px 900px;
}

.container {
    background-color: var(--beige);
    padding: 30px 50px;
}

.king-image img {
    width: 100%;
}

#about div.btn {
    display: inline;
}

.black-panther-btn,
.roi-btn,
.en-vie-btn {
    padding: 10px 8px;
    text-decoration: none;
    justify-content: center;
    border: 1px solid var(--purple);
    border-radius: 40%;
    background-color: var(--purple);
}

.container .info {
    padding: 30px 20px;
}

.container h3 {
    padding: 40px 20px;
    text-align: center;
}

.container .info p {
    color: var(--darkblue);
}

.container .info p span {
    color: var(--darkblue);
    font-weight: bold;
}

.container .info p span.special {
    font-size: 14px;
    font-weight: lighter;
}

/* SECTION 5 */
#form .formulaire {
    padding: 40px 50px;
    margin: 150px 300px 150px 300px;
    border: 2px solid white;
    border-radius: 30px;
    background-color: var(--white);
}

#form .formulaire .input input {
    border: 1px solid var(--darkblue);
    padding: 30px 20px;
    margin: 20px 30px 20px 30px;
    width: 520px;
    height: 56px;
    border-radius: 38px;
}

#form .formulaire .send input {
    border: 1px solid var(--pink);
    background-color: var(--pink);
    color: var(--darkblue);
    padding: 10px 50px;
    margin-left: 200px;
    border-radius: 25px;
}

#form .formulaire p {
    color: var(--darkblue);
}

/* Mise en page du FOOTER */
footer img {
    float: right;
}