/* General styles */
@font-face {
    font-family: "Beyno";
    src: url(./Fonts/BEYNO.ttf);
}

@font-face {
    font-family: "Cantarell";
    src: url(./Fonts/Cantarell-Regular.ttf);
}

@font-face {
    font-family: "Panthera";
    src: url(./Fonts/panthera.otf);
}

@font-face {
    font-family: "Wakanda";
    src: url(./Fonts/WakandaForever-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typographie */
h1 {
    font-size: 68px;
}

h1.typo1 {
    font-family: "Panthera";
}

h1.typo2 {
    font-family: "Beyno";
}

h2 {
    font-family: "Beyno";
    font-size: 32px;
}

h2.typo3 {
    font-family: "Wakanda";
    font-size: 43px;
}

.enigme {
    font-family: "Wakanda";
    font-size: 43px;
    quotes: '"' '"';
}

p {
    font-family: "Cantarell";
    font-size: 16px;
}

p.quote {
    font-size: 14px;
}

.container {
    width: 80%;
    margin: 0 auto;
}